
.fields input{
    border: none;
    outline: none;
    width: 90%;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.recentOrders .username {
    margin-top: -31px;
    padding: 10px 20px;
    height: 420px;
    overflow: auto;
    margin-bottom: 35px;
    border-radius: 25px;
    box-shadow: rgb(203 206 209) 8px 8px 8px inset, rgb(203 206 209) -8px -8px 8px inset;
}
.recentCustomers .username {
    margin-top: 32px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 35px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #cbced1;
}

