
 @import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700, 800, 900';

*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

html,body{
	min-height: 100vh;
}



/* Button */

input[type="button"]{
	display: block;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: #101010;
    font-size: 16px;
    background-color: #2980b9;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}
p{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
    color: #101010;
    padding: 5px 20px;
}

.pcontainer{
	width: 60%;
	height: 100%;
	background: #fff;
	padding: 20px 30px;
}


form{
	margin-left: 20px;
}

form .old-pcontainer{
	height: 45px;
	margin-top: 17px;
	width: 100%;
	position: relative;
}

form .new-pcontainer{
	margin-top: 55px;
}

form .input-pcontainer{
	height: 45px;
	width: 100%;
	display: flex;
	position: relative;
}
form .confirm-pcontainer{
	margin-top: 25px;
	height: 45px;
	width: 100%;
	position: relative;
}


form .label-style{
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 800;
}

form .old-password{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	padding-left: 15px;
	outline: none;
	border-radius: 5px;
	font-size: 17px;
}
form .confirm-password{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	padding-left: 15px;
	outline: none;
	border-radius: 5px;
	font-size: 17px;
}
form .input-pcontainer .chinput{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	padding-left: 15px;
	outline: none;
	border-radius: 5px;
	font-size: 17px;
}


form .old-password:focus,
form .confirm-password:focus,
form .input-pcontainer .chinput:focus
{
	border-color: #27a360;
	box-shadow: inset 0 0 3px #2fd072;
}

form .input-pcontainer .hideShowBtn{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	display: none;
	color: #757373;
    font-size: 13px;
}


form .indicator{
	height: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	display: none;
}

form .indicator span{
	width: 100%;
	height: 100%;
	background: lightgrey;
	border-radius: 5px;
	position: relative;
}

form .indicator span.medium{
	margin: 0 3px;
}


form .indicator span:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

form .indicator span.active.weak:before{
	background: #ff4757;
}

form .indicator span.active.medium:before{
	background: orange;
}

form .indicator span.active.strong:before{
	background: #23ad5c;
}

form .text{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: -10px;
	display: none;
}

form .text.weak{
	color: #ff4757;
}

form .text.medium{
	color: orange;
}

form .text.strong{
	color: #23ad5c;
}

