.hero {
  background-size: cover;
  height: 420px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truck_button,
.driver_button {
  background-color: #1686d9;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}

.truck_button:hover,
.driver_button:hover {
  background-color: white;
  color: #1686d9;
  border: 2px solid #1686d9;
}

.truck_popup_section,
.popup-section {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 429px;
  width: 460px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}


.abcdxyz {
  position: absolute;

}

.driver-details {
  position: absolute;
  height: 367px;
  width: 426px;
  margin-top: 33px;
  padding: 10px 20px 10px 20px;
  margin-left: -1px;
  overflow: scroll;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #cbced1;
}

.truck-details {
  position: absolute;
  height: 376px;
  width: 424px;
  margin-top: 18px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 35px;
  border-radius: 25px;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #cbced1;
}


.table-contain {
  padding: 15px 1px 1px 2px;
}

.table-contain .popUp_table .popUp_thead {
  font-size: 18px;
  font-weight: 600;
  color: #1686d9;
}

.table-contain .popUp_table .popUp_tbody {
  font-size: 16px;
  padding-top: 8px;
}

.table-contain .popUp_table .popUp_tr .second_body {
  margin-left: 286px;
  margin-top: 22px;
  position: absolute;
}
.table-contain .popUp_table .popUp_tr .second_head {
  margin-left: 308px;
  font-size: 19px;
  position: absolute;
}
.table-contain .popUp_table .popUp_tr .tsecond_head {
  margin-left: 282px;
  font-size: 19px;
  position: absolute;
}
.table-contain .popUp_table .popUp_tr .first_head {
  margin-left: 4px;
  font-size: 19px;
  position: absolute;
}
.table-contain .popUp_table .popUp_tr .first_body{
  margin-left: 4px;
  margin-top: 22px;
  position: absolute;
}


.tclose,
.dclose {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.tclose:hover,
.dclose:hover {
  color: #666;
}
