@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --sky: #0AA1DD;
    --purple: #4D4C7D;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}
/* main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}



/* Aditional css */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid; 
    grid-template-columns: 1.5fr 1.5fr;
    grid-gap: 30px;
    /* grid-template-columns: 2fr 1fr; */
    
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    /* box-shadow: 0 7px 25px rgb(0 0 0 / 8%); */
    box-shadow: 0 7px 25px #d9d9d9;
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    float: left;
    width: 70%;
}
.status_div{
    float: right;
    width: 30%;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.status_div h2{
    font-weight: 600;
    color: var(--blue);
}


.truck_list .username {
    /* margin-top: -31px;
    padding: 10px 20px;
    height: 500px; */
    margin-top: 5px;
    padding: 10px 20px;
    height: 420px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: rgb(203 206 209) 8px 8px 8px inset, rgb(203 206 209) -8px -8px 8px inset;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.username{
    overflow: hidden;
    overflow-y: scroll;
}


/* .online {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.active {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.ofline {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
} */


/* driver list divition design */
.truck_list {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px #d9d9d9;
    border-radius: 20px;
    width: 100%;
    height: 85vh;
}
.truck_list1 {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px #d9d9d9;
    border-radius: 20px;
    width: 100%;
    height: 85vh;
}

/* driver list name hedding design */
.table_head_name{
    padding-left: 31%;
    width: 50%;
    float: left;
    color: var(--blue)
}

/* driver list status hedding design */
.table_head_status{
    float: right;
    width: 50%;
    padding-left: 25%;
    color: var(--blue);
}

/* image divition design for driver list */
.imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

/* image design for driver list */
.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* table body design for driver list */
.tbody {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.truck_list table tr td {
    padding: 12px 10px;
}

.truck_list table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.truck_list table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.truck_list table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.truck_list table tr:hover td h4 span {
    color: var(--white);
}

/* add scroll for driver list */
#table_table{
    overflow: hidden;
    overflow-y: scroll;
}

/* Now make it responsive design */
@media (max-width: 991px) {
    

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}



.truck_details_divition_truck form {
    position: absolute;
    width: 469px;
    height: 376px;
    margin-top: 32px;
    margin-left: 48px;
}
  
form label{
    color: #1686d9;
    font-size: 17px;
    font-weight: 500;
}

form .divition {
    margin: 11px 0px 12px 0px;
    display: block;
    width: 70%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid gray;
}

.table_head{
    float: left;
    width: 33.3%;
}


/* add style for form */

.truck_details_divition_truck{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3,
     8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
    border-radius: 10%;
    overflow: hidden; */

    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 433px;
    width: 420px;
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
    border-radius: 10%;
    overflow: hidden;
    
}

.truck_details_divition_truck img{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
}

/* .divition{
    margin-top: -13px;
    margin-bottom: 10px;
    width: 60%;
    align-items: center;
    padding: 5px;
    opacity: 0.8;
} */
.output{
    height: 50px;
    width: 100%;
    background: none;
    font-size: larger;
    background: #fff;
    border: none;
    border-radius: 10%;
}

.truck_logo_logo{
    position: absolute;
    top: 30px;
    height: auto;
    width: 100%;
}

.truck_details_divition_truck .truck_details_divition{
    /* position: absolute;
    top: 52%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    text-align: center;
    padding-top: 90px; */
    position: absolute;
    top: 42%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    text-align: center;
    padding-top: 90px;
}

.truck_logo_divition{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    left: 38%;
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #f5f5f9,
     8px 8px 15px #a7aaaf, -8px -8px 15px rgb(248, 248, 251);
}

.truck_logo_divition img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.actiono{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: #287bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.actiono span{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-size: 2em;
    transition: 0.3s;
}

.actiono.active span{
    transform: rotate(135deg);
}

.actiono ul{
    position: absolute;
    bottom: 55px;
    border: 2px solid rgb(254, 252, 252);
    padding: 7px 5px 7px 10px;
    border-radius: 20px;
    background: rgb(109, 104, 104);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.actiono ul li{
    list-style: none;
    padding: 7px 0;
}
.actiono.active ul{
    /* position: fixed; */
    bottom: 60px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.actiono.active ul li{
    list-style: none;
    padding: 7px 0;
    transition: 0.3s;
}
.actiono ul li:hover{
    font-weight: 500;
}
.actiono ul li:not(:last-child){
    border-bottom: 1px solid rgba(253, 251, 251, 0.801);
}
.actiono ul li ion-icon{
    margin-right: 7px;
    font-size: 1.5em;
    opacity: 100;
}



#add_icon:hover{
    color: #8de02c;
}
#update_icon:hover{
    color: #f9ca3f;
}
#delete_icon:hover{
    color: #f00;
}